#lightgallery{
	a{
		img{
			display: block;
			float:left;
			width: 50%;
		}
	}
}
.banner{
	position: relative;
	// img{width:40%;}
	max-height: 80vh;
	overflow: hidden;
	ul{
		li{
			a:hover{
					// opacity:0.9;
				}
			img{
				width:100%;
				&:hover{
					// filter:blur(2px);
				}
			}
		}
	}

}
h1{
	text-align: center; 
	font-weight:200; 
	position:absolute;
	width:200px;
	bottom:0;
	right:25px; 
	border-radius:0;
	margin: 0;
	z-index: 99;
	// opacity:0.5;
	// margin-left: -100px;
}
#site-link{
	background: #D63636;
	border-color:#D63636;
	border-radius:0;
	font-size:16px;
	&:hover{
		opacity:0.75;
	}
}
.p-sect{display:none;}
.unslider{
	position:relative;
}
.unslider-nav{
	position:absolute;
	bottom:25px;
	width:100%;
	    transform: scale(2);
}
.unslider-arrow.next{	
	// height: 60px;
	height:100%;
	width: 60px;
	right: 0;
	top: 0;
	background: url(../img/arrow-right.svg) no-repeat center rgba(0,0,0,0.25);
	background-size: 50px;
	color: transparent;
	opacity: .6;
	// border-radius: 100%;
	   //  top: 0;
    // height: 100%;
    // border-radius: 0;
    // width: 75px;
    // right: 0;
    // background: url(img/right-arrow.png) no-repeat center rgba(0, 0, 0, 0.1);
    // background-size: 50px;
	&:hover{
		opacity:1.0;
	}
}
.unslider-arrow.prev{	
	height:100%;
	width: 60px;
	left: 0;
	top: 0;
	background: url(../img/arrow-left.svg) no-repeat center rgba(0,0,0,0.1);
	background-size: 50px;
	color: transparent;
	opacity: .6;
	// border-radius: 100%;
	&:hover{
		opacity:1.0;
	}
}